{% extends 'menuinstalacion.html' %}
{% load crispy_forms_tags %}
{% block content%}
<fieldset id="borde" xmlns="http://www.w3.org/1999/html">
    <h5> Lista de Solicitudes de Conectividad y Códigos IGG</h5>
</fieldset>
<p></p>
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputnumero" class="form-label">Numero_ASG:</label>
        <input type="text" class="form-control" id="inputnumero">
    </div>
    <div class="col-md-6">
        <label for="inputfecharegistro" class="form-label">Mes:</label>
        <input type="month" class="form-control" id="inputfecharegistro">
    </div>
    <div class="col-md-6">
        <label for="inputcliente" class="form-label">Cliente:</label>
        <select class="form-select" id="inputcliente" >
            <option>Todos los Clientes...</option>
            {% for Cliente in clientes %}
            <option value="{{Cliente.nombre}}">{{Cliente.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label form="inputState" class="form-label">Status:</label><br>
        <select id="inputState" class="form-select" name="statusconexion">
            <option>Todos los Status...</option>
            <option>CREACION UMS</option>
            <option>CODIGOS IGG</option>
        </select>
    </div>
    <p></p>
    <fieldset id="borde3">
        <button type="submit" class="btn btn-danger">Filtrar</button>
        <a type="button" class="btn btn-danger">Todos</a>
    </fieldset>
    <p></p>
    <p></p>
    <center>
        <h3>Lista de Solicitudes de Conectividad y Códigos IGG</h3>
    </center>
    <fieldset style="border:2px solid black">
    <style type="text/css">
          td, th{padding: 10px;}
          th{
            text-align: center;
                font-size: 15px;
            }
            td{
                font-size:80%;
            }
       </style>
    <table class="table table-bordered" style="text-align:center;">
        <thead>
        <tr>
            <th scope="col">Numero ASG</th>
            <th scope="col">Cliente</th>
            <th scope="col">Contacto</th>
            <th scope="col">Status</th>
            <th scope="col">Fecha Asignación</th>
            <th scope="col">Mod Ope.</th>
            <th scope="col">Cant. Maq</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for asignacion in asignaciones %}
        <tr>
            <td>{{asignacion.id}}</td>
            <td>{{asignacion.clientes.nombre}}</td>
            <td>{{asignacion.contacto}}</td>
            <td>{{asignacion.stado}}</td>
            <td>{{asignacion.fecha_asignacion|date:"Y-m-d"}}</td>
            <td>{{asignacion.modelo}}</td>
            <td></td>
            <td><a  type="submit" class="btn btn-danger">Editar</a>  <button type="button" class="btn btn-danger">Ver</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </fieldset>
    <p></p>
    <center>
        <fieldset id="borde2">
            <a class="btn btn-success">Imprimir</a>
            <a href="{% url 'menuauditoria'}"  class="btn btn-success">Cerrar</a>
        </fieldset>
    </center>
</form>
{% endblock%}