{% extends 'menuinstalacion.html' %}
{% load crispy_forms_tags %}
{% block content%}
  <h1> Retirar Maquinas</h1>
  <p></p>
<form class="row g-3" action="{% url 'guardarretiro' %}" method="post">
    {% csrf_token %}
      <div class="col-md-6">
        <label for="inputnumero" class="form-label">Numero_RTO:</label>
        <input type="text" class="form-control" id="inputnumero" readonly onmousedown="return false;">
      </div>
      <div class="col-md-6">
        <label for="inputfecharegistro" class="form-label">Fecha registro:</label>
        <input type="date" class="form-control" name="fecharegistro" id="inputfecharegistro">
      </div>
      <div class="col-md-6">
        <label for="inputcliente" class="form-label">Cliente:</label><br>
            <select class="form-select" id="inputcliente" name="cliente" required>
                <option value="">-------------------------</option>
                {% for Cliente in clientes %}
                    <option value="{{Cliente.id}}">{{Cliente.nombre}}</option>
                {% endfor %}
            </select>
      </div>

      <div class="col-md-6">
        <label for="inputfecharetiro" class="form-label">Fecha retiro:</label>
        <input type="date" class="form-control" id="inputfecharetiro" name="fecharetiro" readonly>
      </div>

      <div class="col-md-6">
        <label for="inputcontacto" class="form-label">Contacto:</label>
        <input type="text" class="form-control" id="inputcontacto" name="contacto" required>
      </div>
      <div class="col-md-6">
        <label for="inputfechaingreso" class="form-label">Fecha recibido bodega:</label>
        <input type="date" class="form-control" id="inputfechaingreso" readonly>
      </div>
      <div class="col-md-6">
        <label for="inputrecibidopor" class="form-label">Recibido por:</label>
        <input type="text" class="form-control" id="inputrecibidopor" name="recibidopor">
      </div>
      <div class="col-md-6">
        <label for="inputfechaums" class="form-label">Fecha procesado UMS:</label>
        <input type="date" class="form-control" id="inputfechaums" readonly>
      </div>
      <div class="col-md-6">
        <label for="inputconductor" class="form-label">Conductor:</label>
        <input type="text" class="form-control" id="inputconductor" name="conductor">
      </div>
      <div class="col-md-6">
        <label for="inputguia" class="form-label">Guia de envio:</label>
        <input type="text" class="form-control" id="inputguia" name="guia">
      </div>
      <div class="col-md-6">
        <label for="inputplaca" class="form-label">Placa:</label>
        <input type="text" class="form-control" id="inputplaca" name="placa">
      </div>
      <div class="col-md-4">
        <label for="inputformatransporte" class="form-label">Forma de envío:</label>
        <select id="inputformatransporte" class="form-select">
                <option selected>-------------------</option>
                {% for Transporte in transportes %}
                    <option value="{{Transporte.id}}"> {{Transporte.nombre}} </option>
                {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="inputumsresponsable" class="form-label">UMS Responsable:</label>
        <input type="text" class="form-control" id="inputumsresponsable">
      </div>
      <div class="col-md-4">
        <label for="inputstatus" class="form-label">Status:</label>
        <select id="inputstatus" class="form-select" name="statusretirovisible" required disabled>
            <option selected value="1">SOLICITUD</option>
            <option value="2">POR RETIRAR</option>
            <option value="3">RETIRADO</option>
            <option value="4">UMS PROCESADO</option>
        </select>
        <input type="hidden" class="form-control" id="inputstatusoculto" name="statusretiro" value="1" readonly onmousedown="return false;">
    </div>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <center>
      <fieldset id="borde2">
				<input type="button"  class="btn btn-info" value="Agregar serie">
				<input type="button"  class="btn btn-info" value="Reporte">
				<input type="button"  class="btn btn-info" value="Imprimir">
                <button type="submit" class="btn btn-info" >Crear</button>
				<a href="{% url 'listaretiros' %}" type="button"  class="btn btn-info" >Cerrar</a>
      </fieldset>
       </center>
</form>
{% endblock%}