{% extends 'menuinstalacion.html' %}
{% load crispy_forms_tags %}
{% block content%}
  <h1> Datos de la Asignación de Maquinas</h1>
{% if messages %}
<div class="alert alert-success">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
  <p></p>
    <form class="row g-3">
    {% csrf_token %}
      <div class="col-md-6">
        <label for="inputnumero" class="form-label">Numero_ASG:</label>
          <input type="texto" class="form-control"  value="ASG00-{{asignacion.id}}" readonly onmousedown="return false;">
        <input type="hidden" class="form-control" id="inputnumero" name="numero"   value="{{asignacion.id}}" readonly onmousedown="return false;">
      </div>
      <div class="col-md-6">
        <label for="inputfecharegistro" class="form-label">Fecha registro:</label>
          <p><input type="date" class="form-control"  name="fecharegistro" id="inputfecharegistro" readonly onmousedown="return false;" value="{{asignacion.fecha|date:"Y-m-d" }}"></p>
      </div>
        <div class="col-md-24">
            <label for="inputclientes" class="form-label">Cliente:</label>
            <input type="texto" class="form-control" id="inputclientes" name="clienteoculto" value="{{asignacion.clientes.nombre}}" readonly onmousedown="return false;">
        </div>
        <input type="hidden" class="form-control" id="inputclientesocultos" name="cliente" value="{{asignacion.clientes}}" readonly onmousedown="return false;">
      <div class="col-md-3">
        <label for="inputfechaasginacion" class="form-label">Fecha asignación:</label>
        <input type="date" class="form-control" name="fechaasignacion" id="inputfechaasginacion" readonly onmousedown="return false;" value="{{asignacion.fecha_asignacion|date:"Y-m-d"}}" required>
      </div>
        <div class="col-md-3">
        <label for="inputfechacodigo" class="form-label">Fecha Codigos:</label>
        <input type="date" class="form-control" name="fechacodigo" id="inputfechacodigo" value="{{asignacion.fecha_codigos|date:"Y-m-d"}}" required>
      </div>
        <div class="col-md-4">
        <label for="inputmodalidad" class="form-label">Modalidad:</label>
        <input type="text" class="form-control" name="modalidadvisible" id="inputmodalidad" value="{{asignacion.operacion.id_codigo}}" readonly onmousedown="return false;">
          <input type="hidden" class="form-control" name="modalidad" id="inputmodalidadoculata" value="{{asignacion.operacion.id}}" readonly onmousedown="return false;">
      </div>
      <div class="col-md-6">
        <label for="inputcontacto" class="form-label">Contacto:</label>
        <input type="text" class="form-control" name="contacto" id="inputcontacto" value="{{asignacion.contacto}}" readonly onmousedown="return false;">
      </div>
      <div class="col-md-4">
            <label for="inputState" class="form-label">Status:</label>
            <select id="inputState" class="form-select" name="status" readonly onmousedown="return false;">
                <option value="">-------------------</option>
                {% for StatusAsignacion in asignaciones %}
                    <option value="{{ StatusAsignacion.id }}" {% if StatusAsignacion.id == asignacion.stado.id %} selected {% endif %}>
                        {{ StatusAsignacion.nombre }}
                    </option>
                {% endfor %}
            </select>
      </div>

        <table border="0" width="99%" id="table2" cellspacing="1" cellpadding="0" style="border: 1px solid #000000; padding-left:0; padding-right:0">
            <tbody><tr>
                <td bgcolor="#808080" align="center">
                    <b><font face="Tahoma" size="2" color="#FFFFFF">Maquinas y/o Seriales Incluidos en esta Asignación</font></b></td>
            </tr>
            <tr>

            </tr>
            </tbody>
        </table>
      <table class="table table-bordered" style="text-align:center;">
        <thead>
            <tr>
                <!--<th scope="col">ID</th>--!>
                <th WIDTH="30" scope="col">ID</th>
                <th WIDTH="100" scope="col"># Serie PMV</th>
                <th WIDTH="130" scope="col">Modelo</th>
                <th WIDTH="30" scope="col">Mod. Ope.</th>
                <th WIDTH="30" scope="col">Liq. Maq.</th>
                <th WIDTH="30" scope="col">%. Part.</th>
                <th WIDTH="30" scope="col">Maq. Vta.</th>
                <th WIDTH="30" scope="col">Sop. Rem.</th>
                <th WIDTH="30" scope="col">Act. Jueg.</th>
                <th WIDTH="30" scope="col">Gar. HRW</th>
                <th WIDTH="60" scope="col">NUC Coljuegos</th>
                <th WIDTH="150" scope="col">Sala / Punto</th>
                <th WIDTH="160" scope="col">Opciones</th>
             </tr>
        </thead>
            <tbody>
            {% for Seriales in seriales %}
                <tr>
                    <td>{{Seriales.id}}</td>
                    <td>{{Seriales.serie_pmv}}</td>
                    <td>{{Seriales.serie_pmv.familia}}</td>
                    <td>{{Seriales.tipo_operacion.id_codigo}}</td>
                    <td>{% if Seriales.liquida == 1 %}
                            X
                        {% else %}
                            {{""}}
                        {% endif %}
                    </td>
                    <td>{{Seriales.porcentaje}}</td>
                    <td>{% if Seriales.vendida == 1 %}
                            X
                        {% else %}
                            {{""}}
                        {% endif %}
                    </td>
                    <td>{% if Seriales.soporte == 1 %}
                            X
                        {% else %}
                            {{""}}
                        {% endif %}
                    </td>
                    <td>{{Seriales.soprem}}</td>
                    <td>{{Seriales.actjuego}}</td>
                    <td>{{Seriales.nuc}}</td>
                    <td>{{Seriales.id_sala.nombre}}</td>
                    <td><a type="submit" class="btn btn-danger">Editar</a> &nbsp;  <button type="button" class="btn btn-danger">Ver</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <center>
        <fieldset id="borde2">

                <a href="{% url 'asignacionserie' asignacion.id%}" type="button" class="btn btn-info">Agregar Serie</a>
                <a type="button" class="btn btn-info">Reporte</a>
                <a type="button" class="btn btn-info">Imprimir</a>
                <a href="{% url 'listaasignacion'%}" type="button" class="btn btn-info">Cerrar</a>
        </fieldset>
      </center>
    </form>
{% endblock%}