{% extends 'menualmacen.html' %}
{% load crispy_forms_tags %}
{% block content%}

<h1> Datos de la Orden de Remisión para Reparación </h1>
<p></p>

<form class="row g-3"  action="{% url 'guardaredicionremisionreparacion' %}" method="POST">
  {% csrf_token %}
  <div class="col-md-4">
    <label for="inputnumerorem" class="form-label">Numero_REM:</label>
    <input type="text" class="form-control" id="inputnumeroremvisi" name="numeroremvisi" value="REM00-{{ remision.id }} " readonly>
    <input type="hidden" class="form-control" id="inputnumerorem" name="numerorem" value="{{ remision.id }} " readonly>
  </div>

  <div class="col-md-4">
    <label for="inputfecharemision" class="form-label">Fecha Remisión:</label>
    <input type="text" class="form-control" id="inputfecharemision" value="{{ remision.fecha|date:'Y-m-d' }}" readonly>
  </div>

  <div class="col-md-4">
    <label for="inputtecnico" class="form-label">Técnico:</label>
    <input type="text" class="form-control" id="inputtecnico" value="{{ remision.tecnico }}" readonly>
  </div>

  <div class="col-md-4">
    <label for="inputtelefono" class="form-label">Teléfono:</label>
    <input type="text" class="form-control" id="inputtelefono" value="{{ remision.telefono }}" readonly>
  </div>
  <div class="col-md-2">
    <label for="inputfechaenvio" class="form-label">Fecha Retorno:</label>
    <input type="date" class="form-control" id="inputfechaenvio" name="fecharetorno" value="{{ remision.fecha_retorno_almacen|date:'Y-m-d' }}" readonly>
  </div>
  <div class="col-md-2">
    <label for="inputpreparado" class="form-label">Preparado por:</label>
    <input type="text" class="form-control" id="inputpreparado" name="preparadaremi" value="{{ remision.elaborado }}" readonly onmousedown="return false;" >
  </div>
  <!--<div class="col-md-6">
    <label for="inputguia" class="form-label"># Guia de Envío:</label>
    <input type="text" class="form-control" id="inputguia" name="guiaremi" REQUIRED>
  </div>--!>
   <div class="col-md-2">
    <label for="inputstatus" class="form-label">Status:</label>
    <select id="inputstatus" class="form-select" name="statusremi" required readonly>
        <!-- Mostrar el status actual como la opción seleccionada -->
        <option value="{{ current_status.id }}" selected>
            {{ current_status.nombre }}
        </option>
        <!-- Mostrar las demás opciones -->
        {% for option in status_options %}
            {% if option.id != current_status.id %}  <!-- Evitar mostrar el estado actual en las opciones -->
                <option value="{{ option.id }}">
                    {{ option.nombre }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
  </div>
  <table border="0" width="98%" id="table2" cellspacing="1" cellpadding="0" style="border: 1px solid #000000; padding-left:0; padding-right:0">
    <tbody>
    <tr>
      <td bgcolor="#808080" align="center">
        <b><font face="Tahoma" size="2" color="#FFFFFF">Detalle de la Remisión</font></b>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <!--<th scope="col">ID</th>--!>
        <th scope="col" style="text-align: center;">ID</th>
        <th scope="col" style="text-align: center;"># Serie</th>
        <th scope="col" style="text-align: center;">Repuesto</th>

      </tr>
    </thead>
    <tbody>

      {% for item in items_remision %}
      <tr>
        <td class="text-center">ITEM00-{{ item.id }}</td>
        <td class="text-center">{{ item.serialrepuestoretorno }}</td>
        <td class="text-center">{{ item.repuesto.nombre }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p></p>
  <div class="col-md-12">
    <label for="inputobservacion" class="form-label">Observación:</label>
    <textarea class="form-control" id="inputobservacion" name="observacion" rows="4"></textarea>
  </div>
  <p></p>
  <center>
    <fieldset id="borde2">
      <button type="button" class="btn btn-info" id="btnAgregarItem" data-remision-id="{{ remision.id }}">Agregar Item</button>
      <!--<a type="button" class="btn btn-info">Carta</a>--!>
      <button type="button" class="btn btn-info" onclick="window.print();">Imprimir</button>
      <!--<button type="submit" class="btn btn-info">Guardar</button>--!>
      <a href="{% url 'listaremisionreparacion'%}" type="button" class="btn btn-info">Cerrar</a>
    </fieldset>
  </center>
</form>
<script>
    document.getElementById('btnAgregarItem').addEventListener('click', function () {
        // Obtener el id de la remisión desde el atributo data
        var remisionId = this.getAttribute('data-remision-id');

        // Especifica la URL que deseas abrir en la ventana emergente
        var url = '/agregaritemremisionreparacion/?remision_id=' + remisionId;

        // Abre la URL en una nueva ventana con las dimensiones deseadas
        var popup = window.open(url, 'agregaritemremisionreparacion', 'width=400,height=550');

        // Puede ser útil darle el foco a la nueva ventana emergente
        if (popup) {
            popup.focus();
        }
    });

    document.addEventListener('click', function (event) {
    // Verificar si el clic proviene de un botón con la clase "btnEditarItemRemision"
    if (event.target.classList.contains('btnEditarItemRemision')) {
        // Obtener el id del itemremision desde el atributo data
        var itemremisionId = event.target.getAttribute('data-itemremision-id');

        // Construir la URL para editar el itemremision
        var url = '/editaritemremisionreparacion/' + itemremisionId + '/';

        // Aquí debes abrir tu ventana modal con la URL
        // Puedes usar un enfoque específico de tu aplicación para abrir la modal

        // Ejemplo genérico usando una ventana emergente
        var popup = window.open(url, 'editaritemremision', 'width=1000,height=550');

        // Puede ser útil darle el foco a la nueva ventana emergente
        if (popup) {
            popup.focus();
        }
    }
});

    document.getElementById('btnImprimir').addEventListener('click', function() {
        window.print();
    });
</script>
{% endblock%}